.area{
    height:500px;
    width:500px;
    border:2px solid black;
    margin:50px auto;
}
.area input{
    margin:230px 150px;
}
.box{
    width:200px;
    height:200px;
    background-color: blue;
}